* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background-color: #fff;
    width: 1200px;
    top: 0;
    z-index: 50;
}

.doc-lang-navigation-box {
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.doc-lang__selector {
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline-style: none;
    border: none;
    font-family: "Tourney";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.doc-navigation {
    font-family: "Staatliches";
    font-size: 22px;
    letter-spacing: 3%;
}

.section__full-title {
    display: flex;
    align-items: flex-start;
}

.section {
    margin-bottom: 70px;
    padding-top:100px;
    margin-top:-100px;
}

.info-box {
    width: 100%;
}

.background-image {
    position: fixed;
    top: 150px;
    right: -170px;
    z-index: -10;
}

.main-wrapper {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    align-items: flex-start;
}

.aside-box {
    width: 100%;
    position: sticky;
    top: 80px;
    align-self: flex-start;
}

.aside-box__item::after {
    content: "";
    width: 390px;
    height: 4px;
    background-color: #EAEAEA;
    display: block;
    margin-top: 10px;

}

h2 {
    display: inline-block;
    font-family: "Francois One";
    font-size: 36px;
    font-weight: 200;
    line-height: 40px;
    letter-spacing: 10%;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.section__name::before {
    content: "";
    width: 100px;
    height: 8px;
    background-color: black;
    display: block;
    margin-bottom: 20px;

}

sup {
    font-family: "Farro";
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 4%;
    line-height: 20px;
}

mark {
    background-color: #DADADA;
}

.section__paragraph {
    font-family: "PT Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
}

.section__paragraph_first {
    font-family: "Cabin";
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
}

.underline {
    text-decoration: underline;
}

.bolt {
    font-weight: 900;
}